body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f5f7fa, #c3cfe2); /* Light gradient background */
}

header {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    width: 97.8%;
    left: 0;
    margin-top: 0.5rem;
    padding: 1rem;
    bottom: 0;
    background: #f1f1f1;
    font-size:1em;
}

.upload-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.upload-container:hover {
    transform: translateY(-5px);
}

.upload-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #343a40;
}

.upload-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px dashed #adb5bd;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #6c757d;
    font-size: 1rem;
}

.custom-file-input input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-file-input span {
    z-index: 1;
}

.custom-file-input:hover {
    background-color: #e9ecef;
    transform: scale(1.05);
}

.upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0056b3;
}

.progress-container {
    width: 100%;
    background-color: #f1f3f5;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 15px;
    height: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fade-in-out 3s ease;
}

.toast-error {
    background-color: #dc3545;
}

@keyframes fade-in-out {
    0% { opacity: 0; transform: translateY(-20px); }
    10%, 90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}
